Repository canonical/rockcraft, pull requests merged in 2024-12, with the labels that each got.

#752 feat: do not create /bin/java symlink
  docs/reference/plugins.rst
  docs/reference/plugins/ant_plugin.rst
  docs/reference/plugins/maven_plugin.rst
  rockcraft/plugins/ant_plugin.py
  rockcraft/plugins/java_common.py
  rockcraft/plugins/maven_plugin.py
  rockcraft/plugins/register.py
  tests/spread/rockcraft/plugin-ant/rockcraft.yaml
  tests/spread/rockcraft/plugin-ant/sample/build.xml
  tests/spread/rockcraft/plugin-ant/sample/src/sample/HelloWorld.java
  tests/spread/rockcraft/plugin-ant/task.yaml
  tests/spread/rockcraft/plugin-maven/rockcraft.yaml
  tests/spread/rockcraft/plugin-maven/sample/pom.xml
  tests/spread/rockcraft/plugin-maven/sample/src/main/java/test/Test.java
  tests/spread/rockcraft/plugin-maven/task.yaml
Labels: documentation

#769 feat: add the remote-build command
  .github/workflows/spread-manual.yaml
  requirements-dev.txt
  requirements-doc.txt
  requirements.txt
  rockcraft/cli.py
  rockcraft/services/__init__.py
  rockcraft/services/remotebuild.py
  rockcraft/services/service_factory.py
  tests/spread/rockcraft/remote-build/task.yaml
Labels: run-manual-spread, squash

#775 docs: apply release-notes template to rockcraft
  docs/index.rst
  docs/reference/changelog.rst
  docs/release-notes/index.rst
Labels: documentation, squash

#747 Feat(extension): Enable Async Gunicorn workers for Flask and Django e…
  docs/.wordlist.txt
  docs/reference/extensions/django-framework.rst
  docs/reference/extensions/flask-framework.rst
  rockcraft/extensions/gunicorn.py
  rockcraft/models/project.py
  tests/data/django/expected_rockcraft.yaml
  tests/data/django/requirements.txt
  tests/data/django/test_name/test_name/wsgi.py
  tests/data/flask/app.py
  tests/data/flask/expected_rockcraft.yaml
  tests/data/flask/requirements.txt
  tests/spread/rockcraft/extension-flask-async/README
  tests/spread/rockcraft/extension-flask-async/app.py
  tests/spread/rockcraft/extension-flask-async/node_modules/.gitkeep
  tests/spread/rockcraft/extension-flask-async/requirements.txt
  tests/spread/rockcraft/extension-flask-async/static/js/test.js
  tests/spread/rockcraft/extension-flask-async/task.yaml
  tests/unit/extensions/test_gunicorn.py
  tests/unit/test_cli.py
Labels: documentation

#777 Use helpful messages
  rockcraft/extensions/extension.py
Labels: squash

#778 docs: reference docs for remote builds
  docs/reference/index.rst
  docs/reference/remote-builds.rst
Labels: documentation, squash

#776 docs: release notes for 1.7.0
  Makefile
  docs/.wordlist.txt
  docs/release-notes/index.rst
  docs/release-notes/rockcraft-1-7-0.rst
  docs/spellingcheck.yaml
  tox.ini
Labels: documentation, squash

#779 Update link to Pebble layer specification
  docs/conf.py
  docs/explanation/pebble.rst
  docs/how-to/rocks/convert-to-pebble-layer.rst
  docs/reference/rockcraft.yaml.rst
  rockcraft/pebble.py
  schema/rockcraft.json
Labels: documentation
