Repository canonical/rockcraft, pull requests merged in 2024-06, with the labels that each got.

#495 remove --verbose from rock entrypoint
  docs/reference/rockcraft.yaml.rst
  rockcraft/pebble.py
  tests/spread/foreign/big/task.yaml
  tests/spread/rockcraft/bare-base/task.yaml
  tests/spread/rockcraft/entrypoint-service/task.yaml
  tests/unit/test_oci.py
Labels: documentation

#588 feat: make 'license' an optional field
  docs/reference/rockcraft.yaml.rst
  rockcraft/commands/init.py
  rockcraft/models/project.py
  schema/rockcraft.json
  tests/unit/test_project.py
Labels: documentation, priority

#594 Flask docs
  docs/.wordlist.txt
  docs/how-to/code/use-django-extension/example/example_django/example_django/asgi.py
  docs/how-to/code/use-django-extension/example/example_django/example_django/settings.py
  docs/how-to/code/use-django-extension/example/example_django/example_django/urls.py
  docs/how-to/code/use-django-extension/example/example_django/example_django/wsgi.py
  docs/how-to/code/use-django-extension/example/example_django/manage.py
  docs/how-to/code/use-django-extension/example/requirements.txt
  docs/how-to/code/use-django-extension/example/rockcraft.yaml
  docs/how-to/code/use-django-extension/override_example/foobar/asgi.py
  docs/how-to/code/use-django-extension/override_example/foobar/settings.py
  docs/how-to/code/use-django-extension/override_example/foobar/urls.py
  docs/how-to/code/use-django-extension/override_example/foobar/wsgi.py
  docs/how-to/code/use-django-extension/override_example/manage.py
  docs/how-to/code/use-django-extension/override_example/requirements.txt
  docs/how-to/code/use-django-extension/override_example/rockcraft.yaml
  docs/how-to/code/use-django-extension/task.yaml
  docs/how-to/code/use-flask-extension/example/app.py
  docs/how-to/code/use-flask-extension/example/requirements.txt
  docs/how-to/code/use-flask-extension/example/rockcraft.yaml
  docs/how-to/code/use-flask-extension/prime_example/.env.production
  docs/how-to/code/use-flask-extension/prime_example/app.py
  docs/how-to/code/use-flask-extension/prime_example/requirements.txt
  docs/how-to/code/use-flask-extension/prime_example/rockcraft.yaml
  docs/how-to/code/use-flask-extension/prime_example/static/example.js
  docs/how-to/code/use-flask-extension/prime_example/templates/example.html
  docs/how-to/code/use-flask-extension/prime_exclude_example/app.py
  docs/how-to/code/use-flask-extension/prime_exclude_example/requirements.txt
  docs/how-to/code/use-flask-extension/prime_exclude_example/rockcraft.yaml
  docs/how-to/code/use-flask-extension/task.yaml
  docs/how-to/rocks/index.rst
  docs/how-to/rocks/use-django-extension.rst
  docs/how-to/rocks/use-flask-extension.rst
  docs/reference/extensions.rst
  docs/reference/extensions/flask-framework.rst
  docs/reference/extensions/index.rst
  docs/reference/index.rst
  docs/reuse/links.txt
  docs/tutorials/code/getting-started-with-flask/app.py
  docs/tutorials/code/getting-started-with-flask/requirements.txt
  docs/tutorials/code/getting-started-with-flask/task.yaml
  docs/tutorials/code/getting-started-with-flask/time-app.py
  docs/tutorials/getting-started-with-flask.rst
  docs/tutorials/index.rst
  pyproject.toml
Labels: documentation, priority

#599 feat: create reusable setup instructions
  docs/reuse/tutorials/code/task.yaml
  docs/reuse/tutorials/setup.rst
  docs/tutorials/chisel.rst
  docs/tutorials/getting-started-with-flask.rst
  docs/tutorials/hello-world.rst
  docs/tutorials/node-app.rst
  docs/tutorials/pypi-package.rst
  spread.yaml
Labels: documentation

#600 fix: don't raise CraftValidationErrors in validators
  requirements-dev.txt
  requirements-doc.txt
  requirements.txt
  rockcraft/models/project.py
  tests/spread/rockcraft/invalid-name/task.yaml
  tests/unit/test_project.py
Labels: squash

#605 fix: 404 docs page
  docs/conf.py
Labels: documentation, priority

#604 fix: switch from progress to message for init
  rockcraft/commands/init.py
  tests/spread/rockcraft/init/task.yaml
  tests/unit/test_cli.py
Labels: squash

#607 small fixes
  docs/tutorials/getting-started-with-flask.rst
Labels: documentation
