Repository canonical/rockcraft, pull requests merged in 2024-10, with the labels that each got.

#722 docs: use correct keypress style, fix markup
  docs/.wordlist.txt
  docs/tutorial/django.rst
  docs/tutorial/flask.rst
  docs/tutorial/node-app.rst
Labels: documentation

#719 make django stable
  docs/tutorial/code/django/task.yaml
  docs/tutorial/django.rst
  rockcraft/extensions/gunicorn.py
  tests/spread/rockcraft/extension-django/task.yaml
  tests/unit/extensions/test_gunicorn.py
Labels: documentation, squash

#734 docs: add changelog with notes for 1.6.0
  docs/.wordlist.txt
  docs/conf.py
  docs/reference/changelog.rst
  docs/reference/index.rst
  docs/reuse/tutorial/setup.rst
  docs/tutorial/django.rst
  docs/tutorial/fastapi.rst
  docs/tutorial/flask.rst
Labels: documentation, squash

#742 build(deps): update deps with freeze-requirements.sh
  requirements-dev.txt
  requirements-doc.txt
  requirements.txt
Labels: dependencies
