Repository canonical/rockcraft, pull requests merged in 2024-07, with the labels that each got.

#630 chore(merge): 'hotfix/1.5' into 'main'
  docs/conf.py
  requirements-dev.txt
  requirements-doc.txt
  requirements.txt
Labels: merge

#620 docs: tutorials->tutorial and rename flask page
  .github/ISSUE_TEMPLATE/docs.yaml
  README.rst
  docs/how-to/documentation/contribute-docs.rst
  docs/how-to/get-started.rst
  docs/how-to/index.rst
  docs/how-to/rocks/migrate-to-chiselled-rock.rst
  docs/index.rst
  docs/reuse/tutorial/code/task.yaml
  docs/reuse/tutorial/setup.rst
  docs/tutorial/chisel.rst
  docs/tutorial/code/chisel/rockcraft.yaml
  docs/tutorial/code/chisel/task.yaml
  docs/tutorial/code/flask/app.py
  docs/tutorial/code/flask/requirements.txt
  docs/tutorial/code/flask/task.yaml
  docs/tutorial/code/flask/time-app.py
  docs/tutorial/code/hello-world/rockcraft.yaml
  docs/tutorial/code/hello-world/task.yaml
  docs/tutorial/code/node-app/rockcraft.yaml
  docs/tutorial/code/node-app/src/package.json
  docs/tutorial/code/node-app/src/server.js
  docs/tutorial/code/node-app/task.yaml
  docs/tutorial/code/pyfiglet/expected_output.txt
  docs/tutorial/code/pyfiglet/rockcraft.yaml
  docs/tutorial/code/pyfiglet/task.yaml
  docs/tutorial/flask.rst
  docs/tutorial/hello-world.rst
  docs/tutorial/index.rst
  docs/tutorial/node-app.rst
  docs/tutorial/pypi-package.rst
  pyproject.toml
  spread.yaml
Labels: documentation

#636 chore(ci): move base devel spread tests to manual
  .github/workflows/spread-manual.yaml
  spread.yaml
  tests/spread/manual/base-devel/rockcraft.orig.yaml
  tests/spread/manual/base-devel/task.yaml
  tests/spread/manual/repo-overlay/rockcraft.yaml
  tests/spread/manual/repo-overlay/task.yaml
Labels: run-manual-spread

#648 Fixed tutorial how to create a package slice for chisel
  docs/how-to/chisel/create-slice.rst
  docs/how-to/code/create-slice/openssl.yaml
Labels: documentation

#646 fix(docs/tutorial/flask.rst): fixed misspelt filename in tutorial
  docs/tutorial/flask.rst
Labels: documentation

#642 Fix docs build languange tests
  docs/Makefile
Labels: documentation, squash

#652 docs: clarify steps to verify node app in VM
  docs/tutorial/code/node-app/task.yaml
  docs/tutorial/node-app.rst
Labels: documentation
