Repository canonical/rockcraft, pull requests merged in 2024-09, with the labels that each got.

#673 build(snap): force pip to build all deps
  snap/snapcraft.yaml
Labels: squash

#682 docs: fix typo
  docs/how-to/chisel/install-slice.rst
Labels: documentation

#690 Implement ux research for flask-framework tutorial
  docs/.wordlist.txt
  docs/reuse/tutorial/setup.rst
  docs/tutorial/code/flask/task.yaml
  docs/tutorial/flask.rst
Labels: documentation

#700 chore(docs): increment linkcheck retries
  docs/conf.py
Labels: documentation

#702 adjust the guide "convert entrypoint to pebble layer"
  docs/how-to/code/convert-to-pebble-layer/rockcraft.yaml
  docs/how-to/code/convert-to-pebble-layer/task.yaml
  docs/how-to/rocks/convert-to-pebble-layer.rst
Labels: documentation

#707 docs: use more inclusive language in flask tutorial
  docs/tutorial/flask.rst
Labels: documentation, squash

#708 Add support for base ubuntu@24.04 to django and flask extensions
  docs/reference/extensions/django-framework.rst
  docs/reference/extensions/flask-framework.rst
  rockcraft/extensions/gunicorn.py
  tests/spread/rockcraft/extension-django/example_django/.foobar
  tests/spread/rockcraft/extension-django/example_django/example_django/asgi.py
  tests/spread/rockcraft/extension-django/example_django/example_django/settings.py
  tests/spread/rockcraft/extension-django/example_django/example_django/urls.py
  tests/spread/rockcraft/extension-django/example_django/example_django/wsgi.py
  tests/spread/rockcraft/extension-django/example_django/manage.py
  tests/spread/rockcraft/extension-django/requirements.txt
  tests/spread/rockcraft/extension-django/task.yaml
  tests/spread/rockcraft/extension-flask/task.yaml
Labels: documentation

#709 Language changes, pop-up warning, clarify instructions
  docs/tutorial/django.rst
Labels: documentation, squash

#715 refactor: use craft-platform for the build plans
  requirements-dev.txt
  requirements-doc.txt
  requirements.txt
  rockcraft/models/project.py
  setup.cfg
Labels: squash
