Repository canonical/rockcraft, pull requests merged in 2024-04, with the labels that each got.

#534 Merge django extension into main as experimental
  docs/how-to/code/use-django-extension/example/example_django/example_django/asgi.py
  docs/how-to/code/use-django-extension/example/example_django/example_django/settings.py
  docs/how-to/code/use-django-extension/example/example_django/example_django/urls.py
  docs/how-to/code/use-django-extension/example/example_django/example_django/wsgi.py
  docs/how-to/code/use-django-extension/example/example_django/manage.py
  docs/how-to/code/use-django-extension/example/requirements.txt
  docs/how-to/code/use-django-extension/example/rockcraft.yaml
  docs/how-to/code/use-django-extension/override_example/foobar/asgi.py
  docs/how-to/code/use-django-extension/override_example/foobar/settings.py
  docs/how-to/code/use-django-extension/override_example/foobar/urls.py
  docs/how-to/code/use-django-extension/override_example/foobar/wsgi.py
  docs/how-to/code/use-django-extension/override_example/manage.py
  docs/how-to/code/use-django-extension/override_example/requirements.txt
  docs/how-to/code/use-django-extension/override_example/rockcraft.yaml
  docs/how-to/code/use-django-extension/task.yaml
  docs/how-to/rocks/index.rst
  docs/how-to/rocks/use-django-extension.rst
  docs/reference/extensions.rst
  extensions/django-framework/gunicorn.conf.py
  extensions/django-framework/statsd-mapping.conf
  pyproject.toml
  rockcraft/commands/init.py
  rockcraft/extensions/__init__.py
  rockcraft/extensions/gunicorn.py
  tests/spread/general/extension-django/example_django/.foobar
  tests/spread/general/extension-django/example_django/example_django/asgi.py
  tests/spread/general/extension-django/example_django/example_django/settings.py
  tests/spread/general/extension-django/example_django/example_django/urls.py
  tests/spread/general/extension-django/example_django/example_django/wsgi.py
  tests/spread/general/extension-django/example_django/manage.py
  tests/spread/general/extension-django/requirements.txt
  tests/spread/general/extension-django/task.yaml
  tests/unit/extensions/test_gunicorn.py
Labels: documentation, do-not-merge

#558 chore: merge 'hotfix/1.3' back into 'main'
  rockcraft/pebble.py
  snap/snapcraft.yaml
  tests/spread/rockcraft/base-devel/task.yaml
  tests/unit/test_application.py
  tests/unit/test_pebble.py
Labels: do-no-squash

#559 docs: use canonical-sphinx
  .readthedocs.yaml
  Makefile
  docs/_static/.gitempty
  docs/_static/css/custom.css
  docs/conf.py
  requirements-doc.txt
  setup.cfg
Labels: documentation
