Repository canonical/rockcraft, pull requests merged in 2025-01, with the labels that each got.

#792 feat: add uv plugin
  docs/conf.py
  docs/reference/plugins.rst
  docs/reference/plugins/uv_plugin.rst
  pyproject.toml
  rockcraft/plugins/__init__.py
  rockcraft/plugins/python_common.py
  rockcraft/plugins/register.py
  rockcraft/plugins/uv_plugin.py
  rockcraft/services/lifecycle.py
  schema/rockcraft.json
  tests/integration/plugins/python_source/poetry/hello/__init__.py
  tests/integration/plugins/python_source/poetry/hello/__main__.py
  tests/integration/plugins/python_source/poetry/pyproject.toml
  tests/integration/plugins/python_source/poetry/setup.py
  tests/integration/plugins/python_source/python/hello/__init__.py
  tests/integration/plugins/python_source/python/hello/__main__.py
  tests/integration/plugins/python_source/python/setup.py
  tests/integration/plugins/python_source/uv/hello/__init__.py
  tests/integration/plugins/python_source/uv/hello/__main__.py
  tests/integration/plugins/python_source/uv/pyproject.toml
  tests/integration/plugins/python_source/uv/uv.lock
  tests/integration/plugins/test_python_plugin.py
  tests/spread/rockcraft/plugin-uv/rockcraft.yaml
  tests/spread/rockcraft/plugin-uv/src/pyproject.toml
  tests/spread/rockcraft/plugin-uv/src/test_uv/__init__.py
  tests/spread/rockcraft/plugin-uv/src/test_uv/__main__.py
  tests/spread/rockcraft/plugin-uv/src/uv.lock
  tests/spread/rockcraft/plugin-uv/task.yaml
  tests/unit/plugins/test_python_plugin.py
  tests/unit/services/test_lifecycle.py
  uv.lock
Labels: documentation, squash

#797 Validate jlink plugin
  tests/spread/rockcraft/plugin-jlink/bare-build-2404/rockcraft.yaml
  tests/spread/rockcraft/plugin-jlink/base-2404/helloworld/pom.xml
  tests/spread/rockcraft/plugin-jlink/base-2404/helloworld/src/main/java/com/yourcompany/helloworld/App.java
  tests/spread/rockcraft/plugin-jlink/base-2404/helloworld/src/test/java/com/yourcompany/helloworld/AppTest.java
  tests/spread/rockcraft/plugin-jlink/base-2404/rockcraft.yaml
  tests/spread/rockcraft/plugin-jlink/helloworld/pom.xml
  tests/spread/rockcraft/plugin-jlink/helloworld/src/main/java/helloworld/App.java
  tests/spread/rockcraft/plugin-jlink/helloworld/src/test/java/helloworld/AppTest.java
  tests/spread/rockcraft/plugin-jlink/parts.yaml
  tests/spread/rockcraft/plugin-jlink/task.yaml
Labels: squash

#800 docs: add remote-build how-to
  docs/how-to/index.rst
  docs/how-to/outsource-rock-builds-to-launchpad.rst
  docs/reference/rockcraft.yaml.rst
Labels: documentation

#802 docs: add remote build how-to to 1.8.0 release notes
  docs/release-notes/rockcraft-1-8-0.rst
Labels: documentation
