Repository canonical/rockcraft, pull requests merged in 2025-07, with the labels that each got.

#913 Update dependencies, bring in pydantic-kitbash
  docs/conf.py
  docs/reference/plugins.rst
  docs/reference/plugins/ant_plugin.rst
  docs/reference/plugins/maven_plugin.rst
  docs/reference/rockcraft.yaml.rst
  docs/release-notes/rockcraft-1-10.rst
  docs/tutorial/hello-world.rst
  pyproject.toml
  schema/rockcraft.json
  uv.lock
Labels: documentation

#917 docs: release notes for 1.13.0
  docs/conf.py
  docs/release-notes/index.rst
  docs/release-notes/rockcraft-1-13.rst
Labels: documentation, squash

#920 docs: add 'about this documentation'
  docs/about-this-documentation.rst
  docs/conf.py
  docs/index.rst
Labels: documentation

#921 chore: pin all flask versions for osv warning
  tests/data/flask/requirements.txt
  tests/spread/rockcraft/extension-flask-uncomment-blocks/requirements.txt
  tests/spread/rockcraft/extension-flask/requirements.txt
Labels: squash
