Repository canonical/rockcraft, pull requests merged in 2025-05, with the labels that each got.

#833 Feat(12-factor): Extensions are updated to let charms use non-root users
  docs/tutorial/code/expressjs/task.yaml
  rockcraft/extensions/__init__.py
  rockcraft/extensions/app_parts.py
  rockcraft/extensions/expressjs.py
  rockcraft/extensions/fastapi.py
  rockcraft/extensions/go.py
  rockcraft/extensions/gunicorn.py
  tests/spread/rockcraft/extension-django/task.yaml
  tests/spread/rockcraft/extension-expressjs/task.yaml
  tests/spread/rockcraft/extension-fastapi/task.yaml
  tests/spread/rockcraft/extension-flask/task.yaml
  tests/spread/rockcraft/extension-go/task.yaml
  tests/unit/extensions/test_expressjs.py
  tests/unit/extensions/test_fastapi.py
  tests/unit/extensions/test_go.py
  tests/unit/extensions/test_gunicorn.py
Labels: documentation, squash

#881 docs: harmonize readme with template
  HACKING.md
  README.md
  README.rst
Labels: squash

#860 [WIP] feat: spring boot extension
  docs/reference/extensions/index.rst
  docs/reference/extensions/spring-boot-framework.rst
  docs/tutorial/code/spring-boot/TimeController.java
  docs/tutorial/code/spring-boot/task.yaml
  docs/tutorial/index.rst
  docs/tutorial/springboot.rst
  rockcraft/extensions/__init__.py
  rockcraft/extensions/springboot.py
  rockcraft/templates/spring-boot-framework/rockcraft.yaml.j2
  tests/spread/rockcraft/extension-spring-boot/task.yaml
  tests/unit/extensions/test_springboot.py
Labels: documentation

#878 feat(oci): inject mediatype in manifest
  Makefile
  rockcraft/oci.py
  rockcraft/services/package.py
  tests/integration/services/test_package.py
  tests/integration/test_oci.py
  tests/unit/test_oci.py
  uv.lock
Labels: squash
