Repository canonical/rockcraft, pull requests merged in 2025-04, with the labels that each got.

#851 docs: link the "hello-world" example in "getting started"
  docs/how-to/get-started.rst
Labels: documentation

#861 chore: set UV_USE_IO_URING=0 on npm builds
  docs/tutorial/code/expressjs/task.yaml
  docs/tutorial/code/node-app/rockcraft.yaml
  rockcraft/extensions/expressjs.py
  tests/spread/rockcraft/extension-expressjs/task.yaml
  tests/unit/extensions/test_expressjs.py
Labels: documentation

#865 chore(merge): starbase into main
  .github/workflows/tics.yaml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  common.mk
  docs/release-notes/index.rst
  pyproject.toml
  tests/testing/project.py
  uv.lock
Labels: documentation, merge

#863 build(deps): update craft-parts and craft-platforms
  docs/reference/plugins.rst
  pyproject.toml
  rockcraft/extensions/_utils.py
  schema/rockcraft.json
  tests/spread/foreign/big/rockcraft.yaml
  tests/spread/rockcraft/destructive/rockcraft.yaml
  uv.lock
Labels: documentation, squash

#867 feat(project): update Platform schema
  .github/workflows/schema.yaml
  Makefile
  pyproject.toml
  rockcraft/models/project.py
  schema/rockcraft.json
  tests/spread/foreign/big/rockcraft.yaml
  tests/spread/manual/repo-overlay/rockcraft.yaml
  tests/spread/rockcraft/destructive/rockcraft.yaml
  tests/spread/rockcraft/plugin-jlink/bare-build-2404/rockcraft.yaml
  tests/spread/rockcraft/plugin-jlink/base-2404/rockcraft.yaml
  tests/spread/rockcraft/plugin-python/bare-build-2004/rockcraft.yaml
  tests/spread/rockcraft/plugin-python/bare-build-2204/rockcraft.yaml
  tests/spread/rockcraft/plugin-python/base-2004/rockcraft.yaml
  tests/spread/rockcraft/plugin-python/base-2204/rockcraft.yaml
  tests/spread/rockcraft/plugin-python/base-2404/rockcraft.yaml
  uv.lock
Labels: rebase

#875 docs: release notes for 1.11.0
  docs/release-notes/index.rst
  docs/release-notes/rockcraft-1-11.rst
Labels: documentation

#871 feat(init): add 'test' init profile
  rockcraft/templates/test/spread.yaml.j2
  rockcraft/templates/test/spread/.extension.j2
  rockcraft/templates/test/spread/general/test/task.yaml.j2
  tests/spread/rockcraft/craft-test/rock-test.yaml
  tests/spread/rockcraft/craft-test/spread-tests/hello-world/task.yaml
  tests/spread/rockcraft/craft-test/spread.yaml
  tests/spread/rockcraft/craft-test/task.yaml
Labels: squash
